# http://git-scm.com/docs/gitignore/

.coverage
__pycache__
*.pyc
*.in
*.out
*.swp
*~
.gitignore
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
cs373-idb.iml
.idea/
~$*
