body {
    height: 100%;
    margin: 0;
}
html {
    padding-bottom: 300px;
    min-height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
}