{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block head %}
<style>
  body {
    background: url('../media/austin.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>
{% endblock %}

{% block body %}
<div class="container" style="margin-top:50px">
  <div class="starter-template">
    <div class="panel panel-default">
      <div class="panel-heading">Juan Yu</div>
      <div class="panel-body">
        <ul>
          <img src="../media/juan.jpg" alt="Juan Yu" style="width:300px;height:200px;">
          <li><p><b>Bio:</b> Senior at UT Austin. Major in CS. Hobbies include sports, games, music, and pets.</p></li>
          <li><p><b>Major Responsibilities:</b> Data Collector, UI/UX Front End Development</p></li>
          <li><p><b>No. of commits:</b> 6</p></li>
          <li><p><b>No. of issues:</b> 8</p></li>
          <li><p><b>No. of unit tests:</b> 2</p></li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Kevin Charoenworawat</div>
      <div class="panel-body">
        <ul>
          <img src="../media/kevin.png" alt="Kevin C." style="width:100px;height:150px;">
          <li><p><b>Bio:</b>Many, if not most, people aspire to become a great astronaut, a renowned doctor, or careers of the like. I admire those people and have great respect for their desires but I'm not most people. I life my life by rule that complacency kills. While I too have an ultimate goal to reach, my main focus has always been to improve every aspect of myself in order to achieve said goal.

This rule stems from my adolescent obesity where I peaked to 265 lbs in my Junior year of high school. During my Senior year of high school I ended up going on a diet which led me to the gym in my first year of college. Four years later, and at one point 100 lbs lighter, I have continued my new-found lifestyle of weightlifting where I aim to improve myself every single day physically. This love for change and improvement inevitably brought out my passion of technology and programming. Being able to harness the ability to tinker and make changes to whatever you can think of is why I have been pursuing my degree in the field of Computer Science.</p></li>
          <li><p><b>Major Responsibilities:</b> Backend data modeling and frontend html. </p></li>
          <li><p><b>No. of commits:</b> 17</p></li>
          <li><p><b>No. of issues:</b> 8</p></li>
          <li><p><b>No. of unit tests:</b> 9</p></li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Paul Milla</div>
      <div class="panel-body">
        <ul>
          <img src="../media/paul.jpg" alt="Paul M." style="width:113.75px;height:113.75px;">
          <li><p><b>Bio:</b> My mom is Mexican, my dad is Peruvian, and I was born in Mississippi. Life is interesting. I didn't even know how much I liked coding until my first computer science class in high school, but almost immediately after I've been hooked. Logic puzzles have always been my thing, and pretty soon I'll be able to get paid for it too. I always enjoy learning new skills, and throught most of my college career I've passed through many different clubs. Ju-jitsu, Quidditch, ACM (comp sci club), APO (service organization), Longhorn Salsa, Texas Latin Dance, Texas Jugglers, Austin Acro-yoga, and with a splash of capoeira I practically joined a new one every semester. No regrets though, because however tried I may be at the end of the week I know I've made personal progress and have met some really amazing people along the way.</p></li>
          <li><p><b>Major Responsibilities:</b> Backend server development</p></li>
          <li><p><b>No. of commits:</b> 2</p></li>
          <li><p><b>No. of issues:</b> 2</p></li>
          <li><p><b>No. of unit tests:</b> 2</p></li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Vincent Nguy</div>
      <div class="panel-body">
        <ul>
          <img src="../media/vincent.png" alt="Vincent N." style="width:100px;height:100px;">
          <li><p><b>Bio:</b> Senior at UT Austin majoring in CS. I enjoy rock climbing, biking, and a occasional game of league of legends</p></li>
          <li><p><b>Major Responsibilities:</b>Front End Development</p></li>
          <li><p><b>No. of commits:</b> 2</p></li>
          <li><p><b>No. of issues:</b> 2</p></li>
          <li><p><b>No. of unit tests:</b> 2</p></li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Stats</div>
      <div class="panel-body">
        <ul>
          <li><p><b>Total No. of commits:</b> 33</p></li>
          <li><p><b>Total No. of issues:</b> 22</p></li>
          <li><p><b>Total No. of unit tests:</b> 9</p></li>
          <li><p><b>Apiary API: </b><a href="https://github.com/jeongwook/cs373-idb/blob/dev/apiary.apib">https://github.com/jeongwook/cs373-idb/blob/dev/apiary.apib</a></p></li>
          <li><p><b>Github Issue Tracker: </b><a href="https://github.com/jeongwook/cs373-idb/issues">https://github.com/jeongwook/cs373-idb/issues</a></p></li>
          <li><p><b>Github Repo: </b><a href="https://github.com/jeongwook/cs373-idb/tree/dev">https://github.com/jeongwook/cs373-idb/tree/dev</a></p></li>
          <li><p><b>Github Wiki: </b><a href="https://github.com/jeongwook/cs373-idb/wiki">https://github.com/jeongwook/cs373-idb/wiki</a></p></li>
       </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Data</div>
      <div class="panel-body">
        <ul>
          <li><p><b>matches.json: </b><a href="https://github.com/jeongwook/cs373-idb/blob/dev/data/matches.json">https://github.com/jeongwook/cs373-idb/blob/dev/data/matches.json</a></p></li>
          <li><p><b>countries.json: </b><a href="https://github.com/jeongwook/cs373-idb/blob/dev/data/countries.json">https://github.com/jeongwook/cs373-idb/blob/dev/data/countries.json</a></p></li>
          <li><p><b>players.json: </b><a href="https://github.com/jeongwook/cs373-idb/blob/dev/data/players.json">https://github.com/jeongwook/cs373-idb/blob/dev/data/players.json</a></p></li>
        </ul>
      </div>
    </div>
  </div><!-- /.starter template -->
</div><!-- /.container -->
{% endblock %}
