
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <link rel="stylesheet" type="text/css" href="main.css">

    <title>Starter Template for Bootstrap</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container navbar ">
      <header>
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html">CopaDB</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="players.html">Players</a></li>
                <li><a href="teams.html">Teams</a></li>
                <li><a href="matches.html">Matches</a></li>
                <li class="active"><a href="about.html">About <span class="sr-only">(current)</span></a></li>

              </ul>

              <ul class="nav navbar-nav navbar-right">
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </header>
    </div>

    <div class="container">

      <div class="starter-template">   
	<h1>About</h1>
	<br></br>     
        <p class="lead">Copa DB</p>
	<p> Juan Yu, Kevin Charoenworawat, Paul Milla, Vincent Nguy </p>
	<br></br>

        <div class="panel panel-default">
          <div class="panel-heading">Juan Yu</div>
          <div class="panel-body">
            <ul>
              <li><p>photo</p></li>
              <li><p><b>Bio:</b>...</p></li>
              <li><p><b>Major Responsibilities:</b>...</p></li>
              <li><p><b>No. of commits:</b> 2</p></li>
              <li><p><b>No. of issues:</b> 2</p></li>
              <li><p><b>No. of unit tests:</b> 2</p></li>
            </ul>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Kevin Charoenworawat</div>
          <div class="panel-body">
            <ul>
              <img src="./kevin.png" alt="Kevin C." style="width:100px;height100px;">
              <li><p><b>Bio:</b>Many, if not most, people aspire to become a great astronaut, a renowned doctor, or careers of the like. I admire those people and have great respect for their desires but I'm not most people. I life my life by rule that complacency kills. While I too have an ultimate goal to reach, my main focus has always been to improve every aspect of myself in order to achieve said goal.

This rule stems from my adolescent obesity where I peaked to 265 lbs in my Junior year of high school. During my Senior year of high school I ended up going on a diet which led me to the gym in my first year of college. Four years later, and at one point 100 lbs lighter, I have continued my new-found lifestyle of weightlifting where I aim to improve myself every single day physically. This love for change and improvement inevitably brought out my passion of technology and programming. Being able to harness the ability to tinker and make changes to whatever you can think of is why I have been pursuing my degree in the field of Computer Science.</p></li>
              <li><p><b>Major Responsibilities:</b> Backend data modeling and frontend html. </p></li>
              <li><p><b>No. of commits:</b> 17</p></li>
              <li><p><b>No. of issues:</b> 8</p></li>
              <li><p><b>No. of unit tests:</b> 9</p></li>
            </ul>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">Paul Milla</div>
          <div class="panel-body">
            <ul>
              <li><p>photo</p></li>
              <li><p><b>Bio:</b> ....</p></li>
              <li><p><b>Major Responsibilities:</b> stuff</p></li>
              <li><p><b>No. of commits:</b> 2</p></li>
              <li><p><b>No. of issues:</b> 2</p></li>
              <li><p><b>No. of unit tests:</b> 2</p></li>
            </ul>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Vincent Nguy</div>
          <div class="panel-body">
            <ul>
              <li><p>photo</p></li>
              <li><p><b>Bio:</b> ....</p></li>
              <li><p><b>Major Responsibilities:</b> stuff</p></li>
              <li><p><b>No. of commits:</b> 2</p></li>
              <li><p><b>No. of issues:</b> 2</p></li>
              <li><p><b>No. of unit tests:</b> 2</p></li>
            </ul>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Stats</div>
          <div class="panel-body">
            <ul>
              <li><p><b>Total No. of commits:</b> 33</p></li>
              <li><p><b>Total No. of issues:</b> 22</p></li>
              <li><p><b>Total No. of unit tests:</b> 9</p></li>
              <li><p><b>Apiary API:</b><a href="https://github.com/jeongwook/cs373-idb/blob/dev/apiary.apib"> https://github.com/jeongwook/cs373-idb/blob/dev/apiary.apib</a></p></li>
              <li><p><b>Github Issue Tracker:</b><a href="https://github.com/jeongwook/cs373-idb/issues"> https://github.com/jeongwook/cs373-idb/issues</a></p></li>
              <li><p><b>Github Repo:</b><a href="https://github.com/jeongwook/cs373-idb/tree/dev"> https://github.com/jeongwook/cs373-idb/tree/dev</a></p></li>
              <li><p><b>Github Wiki:</b><a href="https://github.com/jeongwook/cs373-idb/wiki"> https://github.com/jeongwook/cs373-idb/wiki</a></p></li>
            </ul>
          </div>
        </div>
      </div>

        <div class="panel panel-default">
          <div class="panel-heading">Data</div>
          <div class="panel-body">
            <ul>
              <li><p><b>matches.json:</b><a href="https://github.com/jeongwook/cs373-idb/blob/dev/data/matches.json"> https://github.com/jeongwook/cs373-idb/blob/dev/data/matches.json</a></p></li>
              <li><p><b>countries.json:</b><a href="https://github.com/jeongwook/cs373-idb/blob/dev/data/countries.json"> https://github.com/jeongwook/cs373-idb/blob/dev/data/countries.json</a></p></li>
              <li><p><b>players.json:</b><a href="https://github.com/jeongwook/cs373-idb/blob/dev/data/players.json"> https://github.com/jeongwook/cs373-idb/blob/dev/data/players.json</a></p></li>
            </ul>
          </div>
        </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
