{% extends "base.html" %}
{% block title %}Copa DB{% endblock %}
{% block head %}
<style>
  body {
  background-image: url('media/copa-background.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  }
</style>
{% endblock %}

{% block body %}
<div class="container">
  <div class="starter-template">

    <div class="row">
      <div class="col-xs-6 col-md-3">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/800px-Flag_of_Argentina.svg.png" alt="...">
      </div>
    </div>
    <div class="col-md-7">
      <div class = "player_bio">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Argentina</h3>
          </div>
          <div class="panel-body">
            <h2><b>Coach:</b>Gerardo Martino</h2>
            <h2><b>Goals:</b>10</h2>
            <h2><b>Captain:</b>Lionel Messi</h2>
            <h2><b>Top Scorer:</b>Sergio Agüero</h2>
          </div>
        </div>
      </div>
    </div>

  </div><!-- /.starter-template -->
</div><!-- /.container -->
{% endblock %}
