{% extends "base.html" %}
{% block title %}Copa DB{% endblock %}
{% block head %}
<style>
  body {
  background-image: url('media/copa-background.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  }
</style>
{% endblock %}

{% block body %}
<div class="container">
  <div class="starter-template">

      <div class="col-md-7">
        <div class = "player_bio">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Bolivia vs. Peru</h3>
            </div>
            <div class="panel-body">
              <h2><b>Country_one:</b>Bolivia</h2>
              <h2><b>Country_two:</b>Peru</h2>
              <h2><b>Score:</b>1-3</h2>
              <h2><b>Man of the Match:</b>Paolo Guerrero</h2>
              <h2><b>Match dates:</b>25 June 2015</h2>
              <h2><b>Match location:</b>Estadio Municipal Germán Becker, Temuco</h2>
            </div>
          </div>
        </div>
      </div>

  </div><!-- /.starter-template -->
</div><!-- /.container -->
{% endblock %}
