{% extends "base.html" %}
{% block title %}Copa DB{% endblock %}
{% block head %}
<style>
  body {
  background-image: url('media/copa-background.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  }
</style>
{% endblock %}

{% block body %}
<div class="container">
  <div class="starter-template">

    <div class="page-header">
      <div class="row">
        <div class="col-md-5">
          <img src="https://upload.wikimedia.org/wikipedia/commons/8/8e/Claudio_Bravo_Footballteam_of_Chile_-_Spain_vs._Chile%2C_10th_September_2013_%28cropped%29.jpg" align=left>
        </div>
        <div class="col-md-7">
          <div class = "player_bio">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Clauio Bravo</h3>
              </div>
              <div class="panel-body">
                  <h2><b>Position:</b> GK</h2>
                  <h2><b>Team:</b> Chile</h2>
                  <h2><b>DOB:</b> April 13, 1983 (age 32)</h2>
                  <h2><b>Goals:</b> 0</h2>
                  <h2><b>Club:</b>Barcelona</h2>
              </div>
            </div>
          </div>
        </div><!-- /.col-md-7 -->
      </div>
    </div>

  </div><!-- /.starter-template -->
</div><!-- /.container -->
{% endblock %}
