{% extends "base.html" %}
{% block title %}Copa DB{% endblock %}
{% block head %}
<style>
  body {
  background-image: url('../res/copa-background.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  }
</style>
{% endblock %}

{% block body %}
<div class="container">
  <div class="starter-template">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/720px-Flag_of_Brazil.svg.png" alt="...">
      </div>
    </div>
    <p class="lead"></p>
    <div class="col-md-7">
      <div class = "player_bio">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Brazil</h3></div>
          <div class="panel-body">
              <h2><b>Coach:</b>Dunga</h2>
              <h2><b>Goals:</b>5</h2>
              <h2><b>Captain:</b>Neymar</h2>
              <h2><b>Top Scorer:</b>Neymar</h2></div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.starter-template -->
</div><!-- /.container -->
{% endblock %}
