{% extends "base.html" %}
{% block title %}Copa DB{% endblock %}
{% block head %}
<style>
  body {
  background-image: url('media/copa-background.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  }
</style>
{% endblock %}

{% block body %}
<div class="container">
  <div class="starter-template">

    <p class="lead"></p>
    <div class="col-md-7">
      <div class = "player_bio">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Chile vs. Uruguay</h3>
          </div>
          <div class="panel-body">
              <h2><b>Country_one:</b>Chile</h2>
              <h2><b>Country_two:</b>Uruguay</h2>
              <h2><b>Score:</b>1-0</h2>
              <h2><b>Man of the Match:</b>Alexis Sanchez</h2>
              <h2><b>Match dates:</b>24 June 2015</h2>
              <h2><b>Match location:</b>Estadio Nacional, Santiago</h2>
          </div>
        </div>
      </div>
    </div>

  </div><!-- /.starter-template -->
</div><!-- /.container -->
{% endblock %}
