{% extends "base.html" %}
{% block title %}Copa DB{% endblock %}
{% block head %}


<link rel="stylesheet" type="text/css" href="/static/css/country.css">
{% endblock %}
{% block body %}
    <div class="container">
      <!-- Full Width Image Header -->
      <header class="header-image">
          <div class="headline">
              <img class ="flag-logo" src="/media/countries/{{con.country}}.jpg">
          </div>
      </header>
      <div class="row">
          <div class="col-xs-12" style="text-align: center;">
            <header class ="country-name">
              <h1>{{con.country}}</h1>
            </header>
          </div>
      </div>
      <div class="col-xs-12" style="padding-top: 30px; padding-bottom: 10px; text-align: left;">
          <header class ="header-bar" style="border-radius: 3px;">
              <h1 style="margin-left: 20px;">Stats</h1>
          </header>
      </div>

       <div class="col-xs-9 col-sm-9">
            <div>
              <p><b>Coach:</b> {{con.coach}}</p>
              <p><b>Captain:</b> {{con.captain}}</p>
              <p><b>Top Scorer:</b> {{con.top_scorer}}</p>
              <p><b>Goals:</b> {{con.goals}}</p>
            </div>
       </div>


      <div class="col-xs-12" style="padding-top: 30px; padding-bottom: 10px; text-align: left;">
          <header class ="header-bar" style="border-radius: 3px;">
              <h1 style="margin-left: 20px;">Squad</h1>
          </header>
      </div>
      <div class="table-responsive">
          <p>con.players</p>
          <table class="table table-striped">
              <thead>

              </thead>
              <tbody>

              </tbody>
          </table>
      </div>
    </div>
{% endblock %}



