{% extends "base.html" %}
{% block title %}Search Dev{% endblock %}

{% block head %}
<style>
    body {
    background: url('/media/copa-background.png') no-repeat center center fixed;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
  <div class="starter-template">
    <h1>Matches</h1>
    <div class="panel panel-default">
      <div class="panel-body">
        <!-- Table -->
        <table class="table table-striped">
          </tbody>
          <tbody>
		<!--form method="get" action="/search/">

		<label for="id_q">Search: </label>
			<input type="text" name="q" id="id_q"/>
			<input type="submit" value="Submit"/>

		</form-->

		<form class="autocomplete-wrap">
			<input type="text" id="autocomplete" class="autocomplete">
		</form>

          </tbody>

        </table>
      </div>
    </div>
  </div><!-- /.starter-template -->
</div><!-- /.container -->
{% endblock %}
