{% extends "base.html" %}
{% block title %}Copa DB Main Page{% endblock %}
{% block head %}
<style>
  body {
    background-image: url('media/copa-background.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  h1 {
    color: white;
    margin-top: 11.75em;
  }
</style>
{% endblock %}

{% block body %}
<div class="container">
  <div class="starter-template">
    <h1 align="center"><b>Welcome to Copa America 2015</b></h1>
  </div>
</div><!-- /.container -->
{% endblock %}
