{% extends "base.html" %}
{% block title %}Matches{% endblock %}

{% block head %}
<style>
    body {
    background: url('../media/copa-background.png') no-repeat center center fixed;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
  <div class="starter-template">
    <h1>Matches</h1>
    <div class="panel panel-default">
      <div class="panel-body">
        <!-- Table -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Match</th>
              <th>Final Score</th>
              <th>Date of Match</th>

            </tr>
          </thead>
          <tbody>
            {% for m in match %}
              <tr>
                <td>{{m.match}}</td>
                <td>{{m.scores}}</td>
                <td>{{m.match_date}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- /.starter-template -->
</div><!-- /.container -->
{% endblock %}
