{% extends "base.html" %}
{% block title %}Starter Template for Bootstrap{% endblock %}
{% block head %}
<style>
  body {
    background-image: url('media/copa-background.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
</style>
{% endblock %}

{% block body %}
<div class="container">
  <div class="starter-template">
    <h1>Matches</h1>
    <p class="lead"> 
    <ul style="list-style-type:disk">
    <li>Name of Match</li>
    <li>First Country</li>
    <li>Second Country</li>
    <li>Final Score</li>
    <li>Man of the Match</li>
    <li>Match's Location</li>
    <li>Date of the Match</li></ul></p>
	<br></br>

    <div class="panel panel-default">
      <div class="panel-body">
      <!-- Table -->
      <ul>
        <li><a href="argentina-colombia.html">Argentina vs. Colombia</a></li>
        <li><a href="bolivia-peru.html">Bolivia vs. Peru</a></li>
        <li><a href="chile-uruguay.html">Chile vs. Uruguay</a></li>
      </ul>
      </div>
    </div>
  </div><!-- /.starter-template -->
</div><!-- /.container -->
{% endblock %}
