{% extends "base.html" %}
{% block title %}Copa DB{% endblock %}
{% block head %}
<style>
    body {
        color:white;
    }
</style>
{% endblock %}
{% block body %}
    <!-- Full Width Image Header -->
    <!--
    <header class="header-image">
        <div class="headline">
            <img class ="flag-logo" src="..\media\chilean-flag-medium.jpg">
        </div>
    </header>
    <div class="row">
        <div class="col-xs-12" style="text-align: center;">
          <header class ="country-name">
            <h1>{{con.country}}</h1>
          </header>
        </div>
    </div>
    -->
    <div class="container">
        <div class="container">
            <div class="row" style="margin-top:100px">
                <div class="col-md-8">
                    <img class="img-responsive img-rounded" src="/media/matches/{{match.match}}.jpg">
                </div>
            </div>
        </div>
            <div class="col-xs-12" style="padding-top: 30px; padding-bottom: 10px; text-align: left;">
                <header class ="header-bar" style="border-radius: 3px;">
                    <h1 style="color:white">Game Stats</h1>
                </header>
            </div>

         <div class="col-xs-9 col-sm-9">
              <div>
                <p><b>Match: </b> {{match.match}}</p>
                <p><b>Country One: </b><a href="http://copadb.me/country/{{match.country_one}}"> {{match.country_one}}</a></p>
                <p><b>Country Two: </b><a href="http://copadb.me/country/{{match.country_two}}"> {{match.country_two}}</a></p>
                <p><b>Scores: </b> {{match.scores}}</p>
                <p><b>Penalties: </b> {{match.penalties}}</p>
                <p><b>Match Date: </b> {{match.match_date}}</p>
                <p><b>Man of the Match: </b><a href="http://copadb.me/player/{{match.man_of_the_match}}">{{match.man_of_the_match}}</a></p>
                <p><b>Match Location:</b>{{match.match_location}}</p>
              </div>
         </div>
    </div>


{% endblock %}



