{% extends "base.html" %}
{% block title %}Players{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container">
  <div class="starter-template">
    <h1 style="color:white">Players</h1>
    <div class="panel panel-default">
      <div class="panel-body">
        <!-- Table -->
        <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Country</th>
              <!--th>Position</th>
              <th>DOB</th>
              <th>Goals</th>
              <th>Club</th-->
            </tr>
          </thead>
          <tbody>
            {% for player in players %}
              <tr>
                <td><a href="{{player.player}}">{{player.player}}</a></td>
                <td><a href="http://copadb.me/country/{{player.team}}">{{player.team}}</a></td>
                <!--td>{{player.position}}</td>
                <td>{{player.dob}}</td>
                <td>{{player.goals}}</td>
                <td>{{player.club}}</td-->
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div><!-- /.starter-template -->
</div><!-- /.container -->

<!--
<div class="container">
  <div class="starter-template">
    <div class="panel panel-default">
      <div class="panel-body">

        <table class="table table-striped">
          <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Position</th>
            <th>DOB</th>
            <th>Goals</th>
            <th>Club</th>
          </tr>
          <tr>
            <td></div><img src="media/juan.jpg"
                      class="img-rounded" alt="Cinque Terre" width="200" height="150">
                      <a href = "albornoz.html"/>Miiko Albornoz</td>
            <td><div class="player_flag"></div><a href = "chili.html"/>Chile</td>
            <td>DF</td>
            <td>November 30, 1990 (age 24)</td>
            <td>1</td>
            <td>Hannover 96</td>
          </tr>
          <tr>
            <td></div><a href = "bravo.html"/>Claudio Bravo</td>
            <td><div class="player_flag"></div><a href = "chili.html"/>Chile</td>
            <td>GK</td>
            <td>April 13, 1983 (age 32)</td>
            <td>0</td>
            <td> Barcelona</td>
          </tr>
          <tr>
            <td></div><a href = "mena.html"/>Eugenio Mena</td>
            <td><div class="player_flag"></div><a href = "chili.html"/>Chile</td>
            <td>DF</td>
            <td>July 18, 1988 (age 26)</td>
            <td>3</td>
            <td>Cruzeiro</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
-->
{% endblock %}
