{% extends "base.html" %}
{% block title %}Search Results{% endblock %}

{% block head %}
<style>
    .underline {
	text-decoration: underline;
    }
    body {
    background: url('/media/copa-background.png') no-repeat center center fixed;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
  <div class="starter-template">
    <h1>Looking for This Stuff?</h1>
    <div class="panel panel-default">
      <div class="panel-body">
        <!-- Table -->
        <table class="table table-striped">
          <tbody>
	    {% load watson %}
	    {% if results %}
	    <tr>
	      <th>Your search for "{{query}}" returned {{length_results}} results.</th>
	      <th></th>
	    </tr>
	      {% for result, snippet in results %}
	    <tr>
	      <th><a href="{{result.url}}">{{result.url}}</a></th>
	      <td style="color:#000000" class="list-td" style="border-top:none">{{snippet|safe}}</td>
	   </tr>
	      {% endfor %}
	    {% else %}
	      <th>Your search for "{{query}}" returned {{length_results}} results.</th>
	      <th></th>
	    {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- /.starter-template -->
</div><!-- /.container -->
{% endblock %}
