<!DOCTYPE html>
<HTML>
<HEAD>
  <TITLE>CopaDB</TITLE>
  <META HTTP-EQUIV="Refresh" CONTENT="2;URL=index.html">
  <link rel="stylesheet" type="text/css" href="main.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <style>
      body {
      background-image: url(http://4.bp.blogspot.com/-HLVpflvtcsw/VYE-XHIIwFI/AAAAAAAAAWE/iGfM4lsY7LA/s1600/copa-america-.jpg);
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-attachment: fixed;
      }
    </style>
</HEAD>

<BODY>
  <div class = "wrapper">
    <b><b><font color="white">You will be redirected to the Home page in 2 seconds.</font></b></p>
	<a href="index.html" class="btn btn-primary btn-lg active" role="button">Enter</a>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</BODY>

</HTML>