{% extends "base.html" %}
{% block title %}Countries{% endblock %}

{% block head %}
<style>
    body {
    background: url('/media/copa-background.png') no-repeat center center fixed;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
  <div class="starter-template">
    <h1>Countries</h1>
    <div class="panel panel-default">
      <div class="panel-body">
         <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Country</th>
                <th>Coach</th>
                <th>Captain</th>
                <th>Top Scorer</th>
                <th>Goals</th>
              </tr>
            </thead>
            <tbody>
              {% for con in countries %}
                <tr>
                  <td><a href="{{con.country}}">{{con.country}}</a></td>
                  <td>{{con.coach}}</td>
                  <td><a href="http://copadb.me/player/{{con.captain}}">{{con.captain}}</a></td>
                  <td><a href="http://copadb.me/player/{{con.top_scorer}}">{{con.top_scorer}}</a></td>
                  <td>{{con.goals}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
         </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="container">
  <div class="starter-template">
    <h1>Countries</h1>
    <p class="lead">
      <ul style="list-style-type:disk">
      <li>Country Name</li>
      <li>Number of Goals</li>
      <li>Team's Coach</li>
      <li>Team's Captain</li>
      <li>Team's Top Scorer</li>
    </p>
    <br></br>
    <div class="panel panel-default">
      <div class="panel-body">
      <ul>
        <li><a href="Argentina.html"/>Argentina</li>
        <li><a href="Chile.html"/>Chile</li>
        <li><a href="Brazil.html"/>Brazil</li>
      </ul>
      </div>
    </div>
  </div>
</div>
-->
{% endblock %}
